@model  IEnumerable<Proje.Models.EntitiyFramework.Personel>
<h1>Personellerin Listesi</h1>
<table class="table table-bordered" id="tblPersoneller">
    <thead>
        <tr>
            <th>Personel Resmi</th>
            <th>Ad</th>
            <th>Soyad</th>
            <th>Maaş</th>
            <th>Yaş</th>
            <th>Doğum Tarihi</th>
            <th>Cinsiyet</th>
            <th>Evlilik Durumu</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var personel in Model)
        {
            <tr style="text-align:center">
                <td height="100" width="150"><img src="@Url.Content(personel.FileName)" alt="@personel.FileName" style="height:100px; width:100px; object-fit:contain;" /></td>
                <td style="vertical-align:middle;">@personel.Name</td>
                <td style="vertical-align:middle;">@personel.SurName</td>
                <td style="vertical-align:middle;">@personel.Wage.Value.ToString("0,0.00")</td>
                <td style="vertical-align:middle;">@(DateTime.Now.Year - personel.BirthDate.Value.Year)</td>
                <td style="vertical-align:middle;">@personel.BirthDate.Value.ToString("dd-MM-yyyy")</td>
                <td style="vertical-align:middle;">@(personel.Gender == true ? "Erkek" : "Kadın")</td>
                <td style="vertical-align:middle;">@(personel.Married == true ? "Evli" : "Bekar")</td>
            </tr>
        }
    </tbody>
</table>
