@model Proje.ViewModels.PersonelEditViewModel
@{
    ViewBag.Title = "Personel Formu";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var departmans = ViewBag.Departmanlar as List<SelectListItem>;
}

<h2>Personel Formu</h2>

@using (Html.BeginForm("Guncelle", "Personel", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

    <div class="form-group">
        <label for="Name">Ad</label>
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control", id = "Name", @maxlength = "30" })
        @Html.ValidationMessageFor(m => m.Name)
    </div>

    <div class="form-group">
        <label for="SurName">Soyad</label>
        @Html.TextBoxFor(m => m.SurName, new { @class = "form-control", id = "SurName", @maxlength = "30" })
        @Html.ValidationMessageFor(m => m.SurName)
    </div>

    <div class="form-group">
        <label for="DepartmanId">Departman</label>
        @Html.DropDownListFor(m => m.DepartmanId, departmans, "Departman Seçiniz", new { @class = "form-control", id = "departmanId" })
        @Html.ValidationMessageFor(m => m.DepartmanId)
    </div>

    <div class="form-group">
        <label for="Wage">Maaş <span style="color:red; font-size:10px"> (En fazla 20 karakter)</span></label>
        @Html.TextBoxFor(m => m.Wage, new { @class = "form-control", @maxlength = "18", id = "Wage" })
        @Html.ValidationMessageFor(m => m.Wage)
    </div>

    <div class="form-group">
        <label for="BirthDate">Doğum Tarihi</label>
        @Html.TextBoxFor(m => m.BirthDate, "{0:yyyy-MM-dd}", new { @class = "form-control", type = "date", min = "1900-01-01", max = DateTime.Now.ToString("yyyy-MM-dd"), id = "BirthDate" })
        @Html.ValidationMessageFor(m => m.BirthDate)
    </div>

    <div class="form-group">
        <label>Cinsiyet</label>
        <div class="radio">
            <label>
                @Html.RadioButtonFor(m => m.Gender, true) Erkek
            </label>
            <label>
                @Html.RadioButtonFor(m => m.Gender, false) Kadın
            </label>
        </div>
        @Html.ValidationMessageFor(m => m.Gender)
    </div>

    <div class="form-group">
        <label for="Married">Evli Misiniz?</label>
        <div class="checkbox">
            <label>
                @Html.CheckBoxFor(m => m.Married, new { id = "Married" }) Evliyseniz seçiniz
            </label>
        </div>
    </div>

    <div class="form-group">
        <label for="PersonelGorsel">Resim Seçiniz</label>
        <div>
            <input type="file" name="uploadFile" id="ImageFile" accept="image/*" style="flex: 1; display: none;" />
            <img src="~/Content/uploads/@Model.FileName" alt="" id="imagePreview" class="yuvarlak" style="height:150px;width:150px; object-fit:contain; flex: 1;" required />
        </div>    <br />

        <button class="btn btn-primary btn-sm" type="button" id="selectImage">Resim Seç</button>
        <button class="btn btn-danger btn-sm" type="button" id="deleteImage">Resim sil</button>
    </div>
    

    <div class="clearfix"></div>

    <center class="col-lg-4 col-sm-4 col-md-4 pull-right">
        <button type="submit" class="btn btn-success pull-right">Kaydet</button>
        <a href="/Personel/Index" class="btn btn-danger pull-right" id="iptalButton">İptal</a>
    </center>

    <div id="mesaj"></div>

    @ViewBag.Message
}

<script>
    document.getElementById('selectImage').addEventListener('click', function (e) {
        document.getElementById('ImageFile').click();
    });

    document.getElementById('ImageFile').addEventListener('change', function (e) {
        var fileInput = e.target;
        var imagePreview = document.getElementById('imagePreview');
        if (fileInput.files && fileInput.files[0]) {
            var reader = new FileReader();
            reader.onload = function (e) {
                imagePreview.src = e.target.result;
            };
            reader.readAsDataURL(fileInput.files[0]);
        } else {
            imagePreview.src = '#';
        }
    });
    document.getElementById('deleteImage').addEventListener('click', function () {
    var imagePreview = document.getElementById('imagePreview');
    imagePreview.src = '#';
    document.getElementById('ImageFile').value = ''; 
    });

</script>