
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_Layout</title>
    @System.Web.Optimization.Styles.Render("~/bundles/css")
</head>
<body>
    @Html.Partial("_Navbar")
    <div class="container">
        @RenderBody()
    </div>

    @RenderSection("Scripts", required: false)
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js">
    </script>
    @System.Web.Optimization.Scripts.Render("~/bundles/scripts")
</body>

</html>
