@{
    ViewBag.Title = "DepartmanForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@model Proje.ViewModels.MesajVievModelController

@if (Model.Status)
{
    <div class="alert alert-success">
        @Model.Mesaj<a href="@Model.Url">@Model.LinkText</a>
    </div>
}
else
{
    <div class="alert alert-danger">
        @Model.Mesaj<a href="@Model.Url">@Model.LinkText</a>
    </div>
}